<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8" />
		<title>Calc...</title>

		<link rel='StyleSheet' type='text/css' href='calc.css' /> 

		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
		<script language="javascript" src='calc.js' > </script>

	</head>
	
	<body>
		<div ng-app="calcApp" ng-controller="CalcCtrl"> 
			<table>
				<tr>
					<td>
						version: {{modelCalcVersions.user}}; <br>
						operations: {{modelCalcVersions.operations.length}}
					</td>
				</tr>
				<tr>
					<td>
					<center>
						<input type="text" readonly ng-model="display" />
					</center>
					</td>
				</tr>
				<tr ng-repeat="digit in modelDigit.digits" >
					<td>
					<center>
 						<button ng-click="setDigit($index)">{{$index}}</button>
					</center>
					</td>
				</tr>
<!--
 				<tr>
					<td>
					<center>
						<button ng-click="setDigit('4')">4</button>
						<button ng-click="setDigit('5')">5</button>
						<button ng-click="setDigit('6')">6</button>
					</center>
					</td>
				</tr>
				<tr>
					<td>
					<center>
						<button ng-click="setDigit('1')">1</button>
						<button ng-click="setDigit('2')">2</button>
						<button ng-click="setDigit('3')">3</button>
					</center>
					</td>
				</tr>
 -->
				<tr>
					<td>
					<center>
						<button ng-click="setDigit('0')">0</button>
						<button ng-click="clearDisplay()">C</button>
						<button ng-click="doOperation('=')">=</button>
					</center>
					</td>
				</tr>
				<tr>
					<td>
					<center>
						<button ng-click="doOperation('+')">+</button>
						<button ng-click="doOperation('-')">-</button>
						<button ng-click="doOperation('*')">*</button>
						<button ng-click="doOperation('/')">/</button>
<!--
						<button ng-repeat="i in modelCalcVersions.operations" ng-click="doOperation(i)">{{i.name}}</button>
 -->
<!--
						<span ng-repeat="i in modelCalcVersions.operations">
							<button ng-click="{{i.method}}">{{i.name}}</button>
						</span>
 -->
<!--
						<button ng-repeat="i in modelCalcVersions.operations" ng-click="{{i.method}}">{{i.name}}</button>
 -->
					</center>
					</td>
				</tr>
			</table>
		</div> 
	</body>
</html>

