<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8" />
		<title>Calc...</title>

		<link rel='StyleSheet' type='text/css' href='calc.css' /> 

		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
		<script language="javascript" src='calc.js' > </script>

	</head>
	
	<body>
		<div ng-app="calcApp" ng-controller="CalcCtrl"> 
			<table>
				<tr>
					<td>
						<input type="text" readonly ng-model="display" />
					</td>
				</tr>
				<tr>
					<td>
					<center>
						<input type="button" name="7" value="7" ng-click="setDigit('7')">
						<input type="button" name="8" value="8" ng-click="setDigit('8')">
						<input type="button" name="9" value="9" ng-click="setDigit('9')">
					</center>
					</td>
				</tr>
				<tr>
					<td>
					<center>
						<input type="button" name="4" value="4" ng-click="setDigit('4')">
						<input type="button" name="5" value="5" ng-click="setDigit('5')">
						<input type="button" name="6" value="6" ng-click="setDigit('6')">
					</center>
					</td>
				</tr>
				<tr>
					<td>
					<center>
						<input type="button" name="1" value="1" ng-click="setDigit('1')">
						<input type="button" name="2" value="2" ng-click="setDigit('2')">
						<input type="button" name="3" value="3" ng-click="setDigit('3')">
					</center>
					</td>
				</tr>
				<tr>
					<td>
					<center>
						<input type="button" name="0" value="0" ng-click="setDigit('0')">
						<input type="button" name="C" value="C" ng-click="clearDisplay()">
						<input type="button" name="=" value="=" ng-click="doOperation('=')">
					</center>
					</td>
				</tr>
				<tr>
					<td>
					<center>
						<input type="button" name="+" value="+" ng-click="doOperation('+')">
						<input type="button" name="-" value="-" ng-click="doOperation('-')">
						<input type="button" name="*" value="*" ng-click="doOperation('*')">
						<input type="button" name="/" value="/" ng-click="doOperation('/')">
					</center>
					</td>
				</tr>
			</table>
		</div> 
	</body>
</html>

